RK_ROOTFS_UBI=y
RK_ROOTFS_INSTALL_MODULES=y
# RK_WIFIBT_CHIP="RTL8733BU"
# RK_ROOTFS_LOG_GUARDIAN is not set
# RK_WIFIBT is not set
RK_UBOOT_CFG="rk3506"
RK_UBOOT_CFG_FRAGMENTS="rk3506b"
RK_UBOOT_SPL=y
RK_KERNEL_ARM32=y
RK_KERNEL_CFG="rk3506_defconfig"
RK_KERNEL_CFG_FRAGMENTS="rk3506-display.config rk3506-can.config rk3506-ethernet.config  rk3506-armsom.config"
RK_KERNEL_DTS_NAME="rk3506-armsom-forge1-nand-rwfs"
RK_BOOT_COMPRESSED=y
RK_BOOT_FIT_ITS_NAME="thunderboot.its"
RK_RECOVERY_FIT_ITS_NAME="thunderboot4recovery.its"
RK_FLASH_SIZE=2048
RK_EXTRA_PARTITION_1_FSTYPE="ubi"
RK_EXTRA_PARTITION_1_SRC="rk3506_oem"
RK_EXTRA_PARTITION_2_FSTYPE="ubi"
RK_PARAMETER="parameter-256M.txt"
RK_USE_FIT_IMG=y
RK_BUILDROOT_BASE_CFG="armsom_rk3506"
RK_BUILDROOT_CFG_FRAGMENTS="armsom_rk3506_append_ubi_rwfs_defconfig"
RK_NETWORK_CHECK=n