#include "fs/ubifs.config"
# BR2_TARGET_ROOTFS_SQUASHFS4_ZSTD is not set
# BR2_TARGET_ROOTFS_UBI_SQUASHFS is not set
BR2_TARGET_ROOTFS_UBIFS_LEBSIZE=0x1F000
BR2_TARGET_ROOTFS_UBIFS_MAXLEBCNT=4096
BR2_TARGET_ROOTFS_UBIFS_RT_LZO=y
BR2_TARGET_ROOTFS_UBI_UBIFS=y
